
main {
  height: 100vh;
  background-image: url("../img/factory_background.png");
  background-position: center center;
  background-color: #6fbbe5;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
}

div {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-right: 7rem;
}

section {
  position: relative;
  justify-content: end;
  align-items: center;
  display: flex;
  height: 100%;
}

footer {
  height: 15vh;
  background-color: #5e665a;
}

#factory {
  margin-left: 80px;
  margin-top: 120px;
}

button {
  display: block;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  margin-block: 5px;
  cursor: pointer;
}

button>a {
  text-decoration: none;
  font-weight: normal;
  color: white;
}

#bt-iniciar {
  border-style: none;
  background-color: #1182b3;
  color: white;
}

#bt-iniciar:hover {
  background-color: #105471;
  transition: .4s;
}

#bt-menu {
  border: 2.5px solid #1182b3;
  background-color: #6fbbe5;
  font-weight: bold;
}
#bt-menu:hover{
  border-color: white;
  transition: .4s;
}


#factory {
  margin-left: 80px;
  margin-top: 120px;
  width: 867px;
  height: 695px;
}