main {
    height: 100vh;
    background-image: url("../img/fundo-babilonico.png");
    background-position: center center;
    background-color: #6fbbe5;
    background-attachment: fixed;
    background-size: cover;
}
section {
    display: grid;
    height: 100vh;
}
#img-gato {
    background-image: url(../img/Mascote.png);
    background-position: center center;
    background-color: transparent;
    background-size: contain;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;

}
#mensagem {
    background-color: #373737;
    height: 18.75rem;
    width: 60vw;
    justify-self: center;
    align-self: center;
    border-radius: 40px 40px 40px 0;
}