@import url('css/header.css');
@import url('css/button.css');
@import url('css/level.css');
@import url('css/dialog.css');
@import url('css/terminal.css');
@import url('css/end-level.css');
@import url('css/menu.css');
@import url('css/home.css');

:root {
    --dark-gray: #373737;
    --darker-gray: #302F2F;
    --main-white: #F9F9F9;
    --light-gray: #E4E4E4;
    --dark-gray-disabled: #5D5D5D;
    --light-gray-disabled: #848282;
    --light-blue: #6FBBE5;
    --main-blue: #1182B3;
    --main-blue-hover: #105471;
    --yellow: #FFB800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--main-blue);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-blue-hover);
}